<div style="text-align: center;" class="container"> 
    <mat-divider [vertical]="true"></mat-divider>
    <div id="inner1">
    <div class="division">
        <mat-card class="example-card" style="text-align: center;">
            <mat-divider [vertical]="true"></mat-divider>
            <mat-divider [vertical]="true"></mat-divider>
            <mat-card-title>
                Benvenuto nel corso {{this.course_name}}
            </mat-card-title>
            <mat-divider></mat-divider>
            <br>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-card-content>
            <section>Seleziona una tab per accedere alle informazioni del corso selezionato.</section>
        </mat-card-content>
        </mat-card>      
    </div> 
    
    </div>
    <mat-divider [vertical]="true"></mat-divider>
</div>


