.card_profilo {
    max-width: 400px;
    margin-left:20px;
  }
  
  .example-header-image {
    background-image: url('/assets/standard_img.png');
    background-size: cover;
  }

  .img_profilo_card {
    text-align:center;
    margin-top:20px;
  }

  .container{
    padding: 6px;
  }
